---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: segment-bridge
  name: segment-bridge
rules:
  - apiGroups:
      - ""
    resourceNames:
      - kube-system
    resources:
      - namespaces
    verbs:
      - get
  - apiGroups:
      - config.openshift.io
    resources:
      - clusterversions
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: segment-bridge
  name: segment-bridge
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: segment-bridge
subjects:
  - kind: ServiceAccount
    name: segment-bridge
    namespace: segment-bridge
